body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .container {
  display: flex;
  align-self: center;
  height: 700px;
  width: 1000px;
  position: relative;
}

.container #plot {
  display: flex;
  position: relative;
}

h1, h2, h3 {
  text-align: center;
  margin: 5px;
  padding: 0;
  font-family: arial;
}

.dot {
  opacity: 0.7;
}

.dot:hover {
  z-index: 1000;
  opacity: 1;
  stroke: black;
}

.tooltip {
  padding: 12px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 12px;
  font-family: 'arial';
  max-width: 300;
}
